*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
:root{
    --color1:#000000;
    --color2:#3E3636 ;
    --color3: #D72323;
    --color4: #F5EDED;
    --colbg: #ffeee9;
    --colecri:#f35525;
    
  }

#link_register{
    color: var(--colecri);
}
.wrapper{
    width: 450px;
    background: black;
    color: white;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: aliceblue;
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: #ffff;
    text-decoration: none;
}
.remember-forgot a{
    color: white;
    text-decoration: none;

}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: white;
    border:none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: var(--color1);
    font-weight: 600;
}
.wrapper .register-link{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;

}
.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;

}
